{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class='row'><!--fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--columna 1-->      
        <H4>Registrar</H4>
        <div class="card">
            <div class="card-body">
                <form action="/regisVentas/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control"
                        placeholder="Codigo Venta" minlength="5" maxlength="5" required>
                    </div>
                    <div class="form-group  py-3">
                        <input type="number" id="can" name="can" class="form-control"
                        placeholder="Cantidad" required>
                    </div>
                    <div class="form-group ">
                        <input type="text" id="ins" name="ins" class="form-control"
                        placeholder="Instrumento" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="floatformat" id="pto" name="pto" class="form-control"
                        placeholder="Precio Total" maxlength="250">
                    </div>
                    <div class="form-group" >
                        <input type="number" id="csu" name="csu" class="form-control"
                        placeholder="Codigo Sucursal" maxlength="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="cli" name="cli" class="form-control"
                        placeholder="Codigo Cliente" maxlength="10">
                    </div>
                    <div class="form-group ">
                        <input type="number" id="emp" name="emp" class="form-control"
                        placeholder="Codigo Empleado" maxlength="50">
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div><!--FROMULARIO-->
                </form>
                <!--This is some text within a card body.-->
            </div>
        </div><!--tarjeta-->
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna 2-->
        <h4>List Venta</h4>
        <img class="w-40" src="{% static 'venta.png' %}" alt="" width="250" height="250">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Instrumento</th>
                        <th scope="col">Precio Total</th>
                        <th scope="col">Cliente</th>
                        <th sence="col">Sucursal</th>
                        <th scope="col">Empleado</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in lamp %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{m.id_venta}}</td>
                            <td>{{m.cantidad}}</td>
                            <td>{{m.instrument}}</td>
                            <td>{{m.precio_tot}}</td>
                            <td>{{m.id_cliente}}</td>
                            <td>{{m.id_sucursal}}</td>
                            <td>{{m.id_empleado}}</td>
                            <td><a href="/selecVen/{{m.id_venta}}" class="btn btn-info">Editar</a></td>
                            <td><a href="/borraVen/{{m.id_venta}}" class="btn btn-danger">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock cuerpo %}