{% extends "base.html" %}
{% block cuerpo %}
<br>
<div class='row'><!--fila-->
    <div class="col-md-4 offset-md-4"><!--columna 1-->      
        <H4>Editar</H4>
        <div class="card">
            <div class="card-body">
                <form action="/editIns/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control"
                        value="{{mInstruments.id_instru}}" minlength="5" maxlength="5" readonly required>
                    </div>
                    <div class="form-group py-3" >
                        <input type="text" id="txtmar" name="txtmar" class="form-control"
                        value="{{mInstruments.marca}}" maxlength="100" required>
                    </div>
                    <div class="form-group ">
                        <input type="text" id="tam" name="tam" class="form-control"
                        value="{{mInstruments.tamano}}" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="est" name="est" class="form-control"
                        value="{{mInstruments.estado}}" maxlength="50">
                    </div>
                    <div class="form-group ">
                        <input type="text" id="lugar" name="lugar" class="form-control"
                        value="{{mInstruments.lugar}}" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="fecha" name="fecha" class="form-control"
                        value="{{mInstruments.mantenimiento}}" required>
                    </div>
                    <div class="form-group ">
                        <input type="text" id="vend" name="vend" class="form-control"
                        value="{{mInstruments.vendido}}" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div><!--FROMULARIO-->
                </form>
                <!--This is some text within a card body.-->
            </div>
        </div><!--tarjeta-->
    </div>
{% endblock %}