{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class='row'><!--fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--columna 1-->      
        <H4>Registrar</H4>
        <div class="card">
            <div class="card-body">
                <form action="/regisInstruments/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control"
                        placeholder="Codigo Instrumento" minlength="5" maxlength="5" required>
                    </div>
                    <div class="form-group py-3" >
                        <input type="text" id="txtmar" name="txtmar" class="form-control"
                        placeholder="Marca de Instrumento" maxlength="100" required>
                    </div>
                    <div class="form-group ">
                        <input type="text" id="tam" name="tam" class="form-control"
                        placeholder="Tamaño" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="est" name="est" class="form-control"
                        placeholder="Estado Instrumento" maxlength="50">
                    </div>
                    <div class="form-group ">
                        <input type="text" id="lugar" name="lugar" class="form-control"
                        placeholder="Lugar Instrumento" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="fecha" name="fecha" class="form-control"
                         required>
                    </div>
                    <div class="form-group ">
                        <input type="text" id="vend" name="vend" class="form-control"
                        placeholder="vendido?" maxlength="2">
                    </div>
                    
                    
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div><!--FROMULARIO-->
                </form>
                <!--This is some text within a card body.-->
            </div>
        </div><!--tarjeta-->
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna 2-->
        <h4>List Instrumento</h4>
        <img class="w-40" src="{% static 'instrument.jpg' %}" alt="" width="400" height="250">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Tamaño</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Mantenimiento</th>
                        <th scope="col">Vendido</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in mInstruments %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{m.id_instru}}</td>
                            <td>{{m.marca}}</td>
                            <td>{{m.tamano}}</td>
                            <td>{{m.estado}}</td>
                            <td>{{m.lugar}}</td>
                            <td>{{m.mantenimiento}}</td>
                            <td>{{m.vendido}}</td>
                            <td><a href="/selecins/{{m.id_instru}}" class="btn btn-info">Editar</a></td>
                            <td><a href="/borraIns/{{m.id_instru}}" class="btn btn-danger">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock cuerpo %}