{% extends "base.html" %}
{% block cuerpo %}
<br>
<div class='row'><!--fila-->
    <div class="col-md-4 offset-md-4"><!--columna 1-->      
        <H4>Editar</H4>
        <div class="card">
            <div class="card-body">
                <form action="/editCli/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control"
                        value="{{mclientes.id_cliente}}" minlength="5" maxlength="5" readonly required>
                    </div>
                    <div class="form-group py-3" >
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                        value="{{mclientes.nombre}}" maxlength="100" required>
                    </div>
                    <div class="form-group ">
                        <input type="number" id="numedad" name="numedad" class="form-control"
                        value="{{mclientes.edad}}" min="1" max="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtins" name="txtins" class="form-control"
                        value="{{mclientes.intrumento}}" maxlength="50">
                    </div>
                    <div class="form-group ">
                        <input type="text" id="txtdirec" name="txtdirec" class="form-control"
                        value="{{mclientes.direccion}}" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtexper" name="txtexper" class="form-control"
                        value="{{mclientes.experiencia}}" maxlength="250">
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div><!--FROMULARIO-->
                </form>
                <!--This is some text within a card body.-->
            </div>
        </div><!--tarjeta-->
    </div>
{% endblock %}