{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class='row'><!--fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--columna 1-->      
        <H4>Registrar</H4>
        <div class="card">
            <div class="card-body">
                <form action="/regisEmpleados/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control"
                        placeholder="Codigo Empleado" minlength="5" maxlength="5" required>
                    </div>
                    <div class="form-group py-3" >
                        <input type="text" id="txtnom" name="txtnom" class="form-control"
                        placeholder="Nombre" maxlength="100" required>
                    </div>
                    <div class="form-group ">
                        <input type="text" id="pue" name="pue" class="form-control"
                        placeholder="Puesto" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="dir" name="dir" class="form-control"
                        placeholder="Direccion" maxlength="250">
                    </div>
                    <div class="form-group ">
                        <input type="floatformat" id="sue" name="sue" class="form-control"
                        placeholder="Sueldo" maxlength="50">
                    </div>

                    <div class="form-group py-3">
                        <input type="number" id="edad" name="edad" class="form-control"
                        placeholder="Edad" required>
                    </div>
                    <div class="form-group ">
                        <input type="number" id="cel" name="cel" class="form-control"
                        placeholder="Celular" maxlength="10">
                    </div>
                    
                    
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div><!--FROMULARIO-->
                </form>
                <!--This is some text within a card body.-->
            </div>
        </div><!--tarjeta-->
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna 2-->
        <h4>List Empleado</h4>
        <img class="w-50" src="{% static 'empleado.jpg' %}" alt="" width="50" height="300">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Sueldo</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Celular</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in lamp %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{m.id_emple}}</td>
                            <td>{{m.nombre}}</td>
                            <td>{{m.puesto}}</td>
                            <td>{{m.sueldo}}</td>
                            <td>{{m.edad}}</td>
                            <td>{{m.direccion}}</td>
                            <td>{{m.celular}}</td>
                            <td><a href="/selecEmp/{{m.id_emple}}" class="btn btn-info">Editar</a></td>
                            <td><a href="/borraEmp/{{m.id_emple}}" class="btn btn-danger">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock cuerpo %}